/* CSS עבור הממשק הכללי */

/* רקע כללי */
.root {
    -fx-background-color: #ffffff; /* רקע בהיר */
}

/* עיצוב האזור של ה-Accordion */
#leftPane {
    -fx-background-color: #A9B7E4; /* צבע התואם לצבעים החדשים */
    -fx-padding: 5; /* ריווח פנימי */
    -fx-background-radius: 10; /* פינות מעוגלות */
}

/* עיצוב השורה עם כפתור ה-Load ושאר האיברים */
#loadRow {
    -fx-background-color: #A9B7E4; /* צבע נוסף */
}

/* עיצוב השורה מתחת עם הכפתורים */
#buttonRow {
    -fx-background-color: #ffffff; /* צבע נוסף */
}

/* עיצוב הכפתורים */
.button {
    -fx-text-fill: #FFFFFF; /* טקסט לבן */
    -fx-font-weight: normal;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #28327C; /* צבע כהה מהתמונה */
    -fx-background-radius: 16px; /* עיגול פינות של הרקע */
    -fx-border-color: rgba(255, 255, 255, 0.53); /* צבע הגבול */
    -fx-border-width: 1px; /* רוחב הגבול */
    -fx-border-radius: 15px; /* עיגול פינות של הגבול */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.14), 4, 0.0, 0, 4); /* אפקט צל */
}

.button:hover {
    -fx-background-color: #A5B4E3; /* גוון כחול בהיר יותר */
}

.button:pressed {
    -fx-background-color: #A1B1E2; /* צבע כחול כהה יותר */
}

/* עיצוב ה-Label */
.label {
    -fx-text-fill: #28327C; /* טקסט בצבע כחול כהה */
    -fx-font-weight: normal;
}

/* עיצוב ה-ProgressBar */
.progress-bar {
    -fx-accent: #28327C; /* צבע כהה יותר */
}

.titled-pane > .title {
    -fx-background-color: rgba(40, 50, 124, 0.5); /* התאמה לצבע כחול כהה מהתמונה עם שקיפות */
}

/* הסתרת החץ לחלוטין */
.titled-pane > .title > .arrow-button {
    -fx-opacity: 0; /* להפוך אותו לשקוף לחלוטין */
    -fx-shape: ""; /* הסרת צורת החץ */
    -fx-background-color: transparent; /* שקיפות מוחלטת */
    -fx-padding: 0; /* הסרת ריווח */
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.titled-pane > .title > .text {
    -fx-fill: #FFFFFF; /* טקסט לבן */
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #28327C; /* צבע רקע */
    -fx-background-radius: 10px 10px 0 0; /* רדיוס עיגול רק לפינות העליונות */
}

/* עיצוב עבור ה-tabs */
.tab {
    -fx-background-color: #552f39; /* צבע כהה */
    -fx-text-base-color: #4c5c50;
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: rgba(0, 0, 0, 0.2); /* צבע הרקע עם שקיפות */
    -fx-border-color: rgba(255, 255, 255, 0.3); /* צבע הגבול */
    -fx-border-width: 1px; /* רוחב הגבול */
    -fx-border-radius: 5 5 0 0; /* עיגול פינות של הגבול */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4); /* אפקט צל */
}

.tab:selected {
    -fx-background-color: #A5B4E3; /* גוון כחול יותר */
    -fx-text-base-color: #FFFFFF; /* טקסט לבן */
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: rgba(255, 255, 255, 0.2); /* צבע הרקע עם שקיפות */
    -fx-border-color: rgba(255, 255, 255, 0.3); /* צבע הגבול */
    -fx-border-width: 1px; /* רוחב הגבול */
    -fx-border-radius: 5 5 0 0; /* עיגול פינות של הגבול */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4); /* אפקט צל */
}

/* עיצוב ה-TitledPane וה-Accordion */
.titled-pane > .title {
    -fx-background-color: #28327C; /* צבע כהה מהתמונה */
    -fx-text-fill: #FFFFFF; /* טקסט לבן */
    -fx-font-weight: normal;
    -fx-background-radius: 10; /* פינות מעוגלות */
    -fx-padding: 7; /* ריווח פנימי */
    -fx-background-color: rgba(255, 255, 255, 0.2); /* צבע הרקע עם שקיפות */
    -fx-border-color: rgba(255, 255, 255, 0.3); /* צבע הגבול */
    -fx-border-width: 1px; /* רוחב הגבול */
    -fx-border-radius: 10; /* עיגול פינות של הגבול */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4); /* אפקט צל */
}

.titled-pane > .content {
    -fx-background-color: #ffffff; /* צבע בהיר */
    -fx-padding: 0; /* ריווח פנימי */
    -fx-background-radius: 10; /* פינות מעוגלות */
}

/* מרווח בין האופציות באקורדיון */
.titled-pane {
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 2 0; /* מרווח בין האקורדיונים */
}

/* הפיכת החצים באקורדיון ללבן */
.titled-pane > .title > .arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-fill: #FFFFFF; /* חץ בצבע לבן */
}

/* עיצוב עבור ScrollPane */
.scroll-pane {
    -fx-background: #f0f0f0; /* צבע רקע בהיר יותר */
    -fx-background-radius: 5; /* פינות מעוגלות */
    -fx-padding: 5; /* ריווח פנימי */
}
.scroll-bar {
    -fx-background-color: transparent; /* צבע שקוף */
}

.scroll-bar .thumb {
    -fx-background-color: #ADBAEA; /* צבע בהיר יותר */
    -fx-background-radius: 20; /* עיגול פינות */
    -fx-padding: 0; /* ריווח פנימי ל-thumb */
}

.scroll-bar:horizontal {
    -fx-pref-height: 16px; /* גובה עבור ScrollBar אופקי */
}
.scroll-bar:vertical {
    -fx-pref-width: 16px; /* רוחב עבור ScrollBar אנכי */
}

/* CSS עבור העלמת החצים ב-ScrollBar */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent; /* רקע שקוף */
    -fx-padding: 0; /* הסרת הריווח */
    -fx-shape: ""; /* הסרת הצורה */
    -fx-opacity: 0; /* להפוך אותם לשקופים לחלוטין */
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

/* עיצוב עבור תא שמודגש כתלות (Dependency) */
.highlighted-dependency {
    -fx-background-color: rgba(173, 186, 230, 0.5); /* צבע רקע כחול בהיר עם שקיפות */
    -fx-background-radius: 4px; /* פינות מעוגלות */
}

/* CSS עבור תא שמודגש כהשפעה (Influence) */
.highlighted-influence {
    -fx-background-color: rgba(161, 177, 226, 0.5); /* צבע רקע כחול בהיר */
    -fx-background-radius: 4px; /* פינות מעוגלות */
}


/* הסרת סימון כחול סביב אלמנטים */
* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-style: none;
}
