


.root {
    -fx-background-color: #ffffff; 
    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;
}


#leftPane {
    -fx-background-color: #6c8f8f; 
    -fx-padding: 5; 
    -fx-background-radius: 10; 

    -fx-transition: background-color 1s ease, -fx-text-fill 0.3s ease;
}




#loadRow {
    -fx-background-color: #6c8f8f; 
}


#buttonRow {
    -fx-background-color: #ffffff; 
}


#priviousVersionGridContainer
{
    -fx-background-color: #ffffff; 
}


.button {
    
    -fx-text-fill: #FFFFFF; 
    -fx-font-weight: normal;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


    
    
    -fx-background-color: rgb(16, 64, 53);

    -fx-background-radius: 16px; 
    -fx-border-color: linear-gradient(to top, rgb(37, 92, 76), rgba(255, 255, 255, 0.65)); 
    -fx-border-width: 1.3; 
    -fx-border-radius: 15px; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.14), 4, 0.0, 0, 4); 


    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;

}

.button:hover {
    -fx-background-color: #a1a8a8; 
    -fx-border-color: linear-gradient(to top, rgba(16, 64, 53, 0.07), rgba(255, 255, 255, 0.65)); 
}

.button:pressed {
    -fx-background-color: #629797; 
}



.label {
    -fx-text-fill: #153a13; 
    -fx-font-weight: normal;
}

.progress-bar {
    -fx-background-radius: 10px; 
    -fx-border-radius: 10px; 
    -fx-border-width: 1px; 
    -fx-pref-height: 30px; 
    -fx-padding: 2px; 
    -fx-background-color: rgba(255, 255, 255, 0.2); 
    -fx-border-color: rgba(255, 255, 255, 0.53); 
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 10, 0.3, 0, 0); 
    -fx-transition: -fx-background-color 0.5s ease, -fx-border-color 0.5s ease; 
}


.progress-bar .track {
    -fx-background-color: transparent; 
    -fx-background-radius: 16px; 
}


.progress-bar .bar {
    -fx-background-color: rgb(255, 255, 255); 
    -fx-background-radius: 5px; 
    -fx-transition: -fx-background-color 0.5s ease; 
}



.progress-bar .text {
    -fx-fill: #FFFFFF; 
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-alignment: center; 
}



.titled-pane > .title {
    -fx-background-color: rgba(86, 63, 70, 0.5); 
}


.titled-pane > .title > .arrow-button {
    -fx-opacity: 0; 
    -fx-shape: ""; 
    -fx-background-color: transparent; 
    -fx-padding: 0; 
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.titled-pane > .title > .text {
    -fx-fill: #FFFFFF; 
}



.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: rgb(16, 64, 53); 
    -fx-background-radius: 10px 10px 0 0; 
}



.tab {
    -fx-background-color: #552f39; 
    -fx-text-base-color: #4c5c50;
    -fx-background-radius: 5 5 0 0;


    -fx-background-color: rgba(0, 0, 0, 0.2); 
    -fx-border-color: rgba(255, 255, 255, 0.3); 
    -fx-border-width: 1px; 
    -fx-border-radius: 5 5 0 0; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4); 
}

.tab:selected {

    -fx-background-color: #8f7e7e; 
    -fx-text-base-color: #FFFFFF; 
    -fx-background-radius: 5 5 0 0;


    -fx-background-color: rgba(255, 255, 255, 0.2); 
    -fx-border-color: rgba(255, 255, 255, 0.3); 
    -fx-border-width: 1px; 
    -fx-border-radius: 5 5 0 0; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4); 

}






.titled-pane > .title {
    -fx-background-color: #563f46; 
    -fx-text-fill: #FFFFFF; 
    -fx-font-weight: normal;
    -fx-background-radius: 10; 
    -fx-padding: 7; 

    
    -fx-background-color: rgba(255, 255, 255, 0.2); 
    -fx-border-color: rgba(255, 255, 255, 0.3); 
    -fx-border-width: 1px; 
    -fx-border-radius: 10; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4); 

}

.titled-pane > .content {
    -fx-background-color: #ffffff; 
    -fx-padding: 0; 
    -fx-background-radius: 10; 
}


.titled-pane {
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 2 0; 
}


.titled-pane > .title > .arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-fill: #FFFFFF; 
}


.scroll-pane {

    -fx-background: #f0f0f0; 
    -fx-background-radius: 5; 
    -fx-padding: 5; 
}

.scroll-bar {
    -fx-background-color: transparent; 
}

.scroll-bar .thumb {
    -fx-background-color: #b4d6d6; 
    -fx-background-radius: 20; 
    -fx-padding: 0; 
}

.scroll-bar:horizontal {
    -fx-pref-height: 16px; 
}
.scroll-bar:vertical {
    -fx-pref-width: 16px; 
}


.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent; 
    -fx-padding: 0; 
    -fx-shape: ""; 
    -fx-opacity: 0; 
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}


#style {
    -fx-background-color: #ffffff; 
    -fx-background-radius: 10; 
    -fx-padding: 10; 
}


.text-field {
    -fx-background-color: #c8c3cc;
    -fx-border-color: #563f46;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}


.text-field:focused {
    -fx-border-color: #484f4f;
}

.text-field .text {
    -fx-fill: #563f46;
}


.combo-box {
    -fx-background-color: #c8c3cc;
    -fx-text-fill: #563f46;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.combo-box .arrow-button {
    -fx-background-color: #c8c3cc;
    -fx-background-radius: 8;
}

.combo-box:hover {
    -fx-background-color: #8ca3a3;
}

.combo-box:pressed {
    -fx-background-color: #9cbfbf;
}





.check-box {
    -fx-spacing: 10px; 
    -fx-padding: 5px;  
}


.list-view {
    -fx-padding: 5px; 
    -fx-spacing: 2px; 
}


.check-box .box {
    -fx-border-color: #563f46;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-border-radius: 4;
    -fx-padding: 2px; 
    -fx-min-width: 14px; 
    -fx-min-height: 14px; 
    -fx-max-width: 14px; 
    -fx-max-height: 14px; 
}


.check-box:selected .box .mark {
    -fx-background-color: #ffffff; 
}



.check-box {
    -fx-text-fill: #563f46;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.check-box .box {
    -fx-border-color: #563f46;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-border-radius: 4;
}

.check-box:selected .box {
    -fx-background-color: #563f46;
}

.check-box .box:hover {
    -fx-background-color: #8ca3a3;
}


.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: #8ca3a3;
    -fx-background-radius: 5;
}

.slider .thumb {
    -fx-background-color: #563f46;
    -fx-background-radius: 50%;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
}


.color-picker {
    -fx-background-color: #c8c3cc;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: transparent;
    -fx-text-fill: #563f46;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.color-picker:hover {
    -fx-background-color: #8ca3a3;
}

.color-picker:pressed {
    -fx-background-color: #484f4f;
}



.list-view {
    -fx-border-color: transparent; 
    -fx-background-insets: 0; 
    -fx-border-insets: 0; 
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent; 
}

.list-view:focused,
.list-view:hover {
    -fx-border-color: transparent; 
}


.scroll-pane {
    -fx-border-color: transparent; 
    -fx-background-insets: 0; 
    -fx-border-insets: 0; 
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent; 
}

.scroll-pane:focused,
.scroll-pane:hover {
    -fx-border-color: transparent; 
}


.list-cell {
    -fx-border-color: transparent; 
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent; 
}


.sheet-header-background {
    -fx-background-color: rgb(16, 64, 53);
    -fx-alignment: center;
    -fx-padding: 5px;
}



.sheet-header-text {
    -fx-alignment: center; 
    -fx-padding: 5px;      
    -fx-text-fill: #ffffff; 
}



.default-cell {
    -fx-background-color: transparent; 
}



.highlighted-dependency {
    -fx-background-color: rgba(173, 216, 230, 0.5); 
    -fx-background-radius: 4px; 
}


.highlighted-influence {
    -fx-background-color: rgba(144, 238, 144, 0.5); 
    -fx-background-radius: 4px; 
}



.highlighted-pane {
    -fx-background-color: #c8c3cc; 
    -fx-background-radius: 4px; 
}




.cellDefault {
    -fx-background-color: white;
    -fx-padding: 5px;
}


.labelDefault {
    -fx-text-fill: black;
}




.toggle-button {
    -fx-background-color: #b8b8b8; 
    -fx-background-radius: 15px; 
    -fx-padding: 0 1px 2px 2px;  

    -fx-pref-width: 30px; 
    -fx-alignment: center-left; 
    -fx-cursor: hand; 
    -fx-border-color: transparent; 
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent; 
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.2) , 5, 0, 0, 1); 
}


.toggle-button:selected {
    -fx-background-color: #4aa54e; 
    -fx-alignment: center-right; 
}









.table-view {
    -fx-background-color: white; 
    -fx-border-color: transparent; 
    -fx-background-radius: 16; 
}


.table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.2); 
    -fx-background-radius: 10; 
    -fx-border-color: transparent; 
    -fx-transition: background-color 0.3s ease, -fx-effect 0.3s ease; 

}


.table-row-cell:hover {
    -fx-background-color: rgba(100, 143, 143, 0.3); 
}


.table-row-cell:selected {
    -fx-background-color: #6c8f8f; 
    -fx-text-fill: white; 
}


.table-cell {
    -fx-background-color: transparent; 
    -fx-text-fill: #2f2f60; 
    -fx-alignment: CENTER; 
    -fx-text-alignment: CENTER; 
}


.column-header-background {
    -fx-background-color: transparent; 
    -fx-border-color: transparent; 
}

.table-view .column-header {
    -fx-background-color: transparent; 
    -fx-background-radius: 15; 
    -fx-padding: 2 8; 
    -fx-margin: 10 10; 
}


.table-view .column-header .label {
    -fx-font-weight: BOLD;
    -fx-text-fill: #646d78;
    -fx-background-color: transparent; 
    -fx-padding: 2; 
    -fx-margin: 10px 10px; 
}



#fileNameLabel{
    -fx-font-size: 14px;
}



* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-style: none;
}
