
.button {

    -fx-text-fill: #FFFFFF;
    -fx-font-weight: normal;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


    -fx-background-color: rgb(16, 64, 53);

    -fx-background-radius: 16px;
    -fx-border-color: linear-gradient(to bottom, rgb(37, 92, 76), rgb(59, 76, 76));
    -fx-border-width: 1.3;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.14), 4, 0.0, 0, 4);


    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;

}


.button:hover {
    -fx-background-color: #a1a8a8;
    -fx-border-color: linear-gradient(to top, rgba(16, 64, 53, 0.07), rgba(255, 255, 255, 0.65));
}

.button:pressed {
    -fx-background-color: #629797;
}


#sheetCard{

    -fx-text-fill: #fafafa;
    -fx-font-weight: normal;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 40px;
    -fx-border-color: linear-gradient(to bottom, rgb(241, 240, 240), transparent);
    -fx-border-width: 1.5;
    -fx-border-radius: 40px;
    -fx-effect: dropshadow(gaussian, rgb(99, 129, 129), 60, 0.0, 30, 50);
    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;
}





#topGrid {
    -fx-background-color: #ffffff;
}


.table-view {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 16;
}


.table-row-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-transition: background-color 0.3s ease, -fx-effect 0.3s ease;

}


.table-row-cell:hover {
    -fx-background-color: rgba(100, 143, 143, 0.3);
}


.table-row-cell:selected {
    -fx-background-color: #6c8f8f;
    -fx-text-fill: white;
}


.table-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #2f2f60;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}


.column-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-padding: 2 8;
    -fx-margin: 10 10;
}


.table-view .column-header .label {
    -fx-font-weight: BOLD;
    -fx-text-fill: #646d78;
    -fx-background-color: transparent;
    -fx-padding: 2;
    -fx-margin: 10px 10px;
}










.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: linear-gradient(to bottom, #7b9f9f, #7ea8a8);
    -fx-background-radius: 25px 25px 0 0;

}



.tab {
    -fx-background-color: #552f39;
    -fx-text-base-color: #e3e3e3;
    -fx-background-radius: 20 20 0 0;

    -fx-background-color: rgba(184, 184, 184, 0.2);
    -fx-border-color: rgba(225, 225, 225, 0.3);
    -fx-border-width: 1px;
    -fx-border-radius: 20 20 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4);
}



.tab:selected {

    -fx-background-color: #8f7e7e;
    -fx-text-base-color: #FFFFFF;
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
    -fx-border-radius: 20 20 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.0, 0, 4);

}











.titled-pane > .title {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: normal;
    -fx-background-radius: 15;
    -fx-padding: 7;

    -fx-background-color: rgba(255, 255, 255, 0.2);

    -fx-border-width: 1.5;
    -fx-border-radius: 10;

}


.titled-pane > .title > .arrow-button {
    -fx-opacity: 0;
    -fx-shape: "";
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.titled-pane > .title > .text {
    -fx-fill: #f1f1f1;
    -fx-font-size: 14px;
}



.titled-pane > .content {
    -fx-background-color: #739a9a;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
}
/* Spacing between options in the accordion */
.titled-pane {
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 2 0; /* Spacing between the accordions */
}

/* Making the accordion arrows white */
.titled-pane > .title > .arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-fill: #FFFFFF; /* Arrow in white color */
}

/* Styling for ScrollPane */
.scroll-pane {

    -fx-background: #f0f0f0; /* Lighter background color */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-padding: 5; /* Internal padding */
}

.scroll-bar {
    -fx-background-color: transparent; /* Transparent background */
}

.scroll-bar .thumb {
    -fx-background-color: #b4d6d6; /* Lighter color */
    -fx-background-radius: 20; /* Rounded corners */
    -fx-padding: 0; /* Internal padding for the thumb */
}

.scroll-bar:horizontal {
    -fx-pref-height: 16px; /* Height for horizontal ScrollBar */
}
.scroll-bar:vertical {
    -fx-pref-width: 16px; /* Width for vertical ScrollBar */
}

/* Setting white background for list rows */
.list-view .list-cell {
    -fx-background-color: white; /* White background for rows */
    -fx-text-fill: black; /* Text color */
    -fx-alignment: center;
}

/* Removing highlight on selection and focus */
.list-view .list-cell:focused,
.list-view .list-cell:selected,
.list-view .list-cell:hover {
    -fx-background-color: white; /* Maintain white background in focus, selection, and hover states */
    -fx-text-fill: black; /* Text color */
}

/* Removing selection (hiding selection colors) */
.list-view {
    -fx-selection-bar: transparent; /* Remove selection color */
    -fx-selection-bar-non-focused: transparent; /* Remove selection color when not focused */
    -fx-focus-color: transparent; /* Remove focus color */
    -fx-faint-focus-color: transparent; /* Remove faint focus color */
}

/* Adding a 5-pixel padding from the element's borders */
.list-view {
    -fx-padding: 5px; /* Internal padding */
}

/* Adding rounded corners */
.list-view {
    -fx-background-radius: 10px; /* Rounded corners for the background */
    -fx-border-radius: 10px; /* Rounded corners for the border */
}

/* Removing the gray border around the list */
.list-view {
    -fx-border-color: transparent; /* Transparent border */
    -fx-background-insets: 0; /* Remove background insets */
    -fx-border-insets: 0; /* Remove border insets */
}

.list-view:focused,
.list-view:hover {
    -fx-border-color: transparent; /* Transparent border even in focus or hover */
}

#commandGrid {
    -fx-background-color: #739a9a; /* Lighter color */
    -fx-background-radius: 0 0 25px 25px; /* Rounded only for the bottom corners */
    -fx-border-radius: 0 0 25px 25px; /* Rounded for the border only for the bottom corners */
}

#sheetPremmisionTable
{
    -fx-background-color: transparent; /* Lighter color */
}

#selectedLabel
{
    -fx-text-fill: #ffffff;
}

#selectedSheetNameLabel
{
    -fx-text-fill: #ffffff;
}

/* Specific styling for #sheetPremmisionTable */
#sheetPremmisionTable {
    -fx-background-color: transparent;
    -fx-text-fill: white; /* Title text color in white */
}

#sheetPremmisionTable .column-header-background {
    -fx-background-color: transparent; /* Header background (set as white in comment) */
    -fx-text-fill: white; /* Header text color in white */
    -fx-font-size: 14px;
}

#sheetPremmisionTable .column-header .label {
    -fx-text-fill: white; /* Header label text color in white */
}

/* Styling for table cells */
#sheetPremmisionTable .table-cell {
    -fx-background-color: transparent; /* Transparent background */
    -fx-text-fill: #ffffff; /* Text color */
    -fx-alignment: CENTER; /* Center the text */
    -fx-text-alignment: CENTER; /* Center text within the cell */
}

#labelForStatus{
    -fx-text-fill: #ffffff; /* Text color */
    -fx-font-size: 15px;
}

#openSheetViewfinder
{
    /* Darker color */
    -fx-text-fill: #fafafa;
    -fx-font-weight: normal;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 15px;
    /* Linear gradient for the background */
    /* Linear gradient for the background */

    -fx-background-color: rgba(255, 255, 255, 0.3); /* Background color with transparency */
    -fx-background-radius: 30px; /* Rounded corners for the background */
    -fx-border-color: linear-gradient(to bottom, rgba(241, 240, 240, 0.55), transparent); /* Border color */
    -fx-border-width: 1; /* Border width */
    -fx-border-radius: 30px; /* Rounded corners for the border */
    -fx-effect: dropshadow(gaussian, rgb(99, 129, 129), 60, 0.0, 30, 50); /* Drop shadow effect */
    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;
}

#openSheetViewfinder:hover{
    -fx-background-color: rgba(255, 255, 255, 0.4); /* Background color with transparency */
}

/* General setting of transparent color for column headers */
.table-view .column-header-background {
    -fx-background-color: transparent; /* Set transparency */
}

/* Setting transparent color for specific headers */
.table-view .column-header {
    -fx-background-color: transparent; /* Set transparency for the headers themselves */
}

/* Setting full transparency for all header backgrounds */
.table-view .column-header-background {
    -fx-background-color: transparent; /* Transparency for header background */
}

.table-view .column-header {
    -fx-background-color: transparent; /* Transparency for each column header */
}

/* Transparency for the header label itself */
.table-view .column-header .label {
    -fx-background-color: transparent; /* Transparency for the label */
}

/* Styling background for filling empty space in columns */
.table-view .filler {
    -fx-background-color: transparent; /* Full transparency for empty fillers */
}

/* CSS for hiding the arrows in the ScrollBar */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent; /* Transparent background */
    -fx-padding: 0; /* Remove padding */
    -fx-shape: ""; /* Remove shape */
    -fx-opacity: 0; /* Make them completely transparent */
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

/* Styling ToggleButton as a switch */
#darkModeToggle {
    -fx-background-color: #b8b8b8; /* Button background */
    -fx-background-radius: 15px; /* Rounded corners */
    -fx-padding: 0 1px 2px 2px;  /* Internal padding */

    -fx-pref-width: 30px; /* Width of the switch */
    -fx-alignment: center-left; /* Align the small button to the left when off */
    -fx-cursor: hand; /* Change cursor to hand */
    -fx-border-color: transparent; /* Remove border */
    -fx-focus-color: transparent; /* Remove focus color */
    -fx-faint-focus-color: transparent; /* Remove faint focus shadow */
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.2) , 5, 0, 0, 1); /* Drop shadow effect */
}

/* Styling in selected (activated) state */
#darkModeToggle:selected {
    -fx-background-color: #4aa54e; /* Green background when activated */
    -fx-alignment: center-right; /* Align the small button to the right */
}

/* Removing blue outline around elements */
* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-style: none;
}
