
/* רקע כללי */
.root {
    -fx-background-color: #d6d6d6; /* רקע בהיר */
    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;
}


/* עיצוב הכפתורים */
.button {
    /* צבע כהה יותר */
    -fx-text-fill: #3a3a3a; /* טקסט לבן */
    -fx-font-weight: normal;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    /* מעבר לינארי לרקע */
    /* מעבר לינארי לרקע */

    -fx-background-color: rgb(246, 246, 248);
    -fx-background-radius: 30px; /* עיגול פינות של הרקע */

    -fx-border-color: linear-gradient(to top, rgba(255, 255, 255), rgb(255, 255, 255)); /* צבע הגבול */
    -fx-border-width: 1.3; /* רוחב הגבול */
    -fx-border-radius: 30px; /* עיגול פינות של הגבול */
    -fx-effect: dropshadow(gaussian, rgba(214, 214, 214, 0.14), 8, 0.0, 0, 4); /* אפקט צל */
    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;
}



.button:hover {
    -fx-background-color: #a1a8a8; /* צבע בהיר יותר */
    -fx-border-color: linear-gradient(to top, rgba(16, 64, 53, 0.07), rgba(255, 255, 255, 0.65)); /* צבע הגבול */
}

.button:pressed {
    -fx-background-color: #bddfdf; /* צבע כהה יותר */
}


.error-label {
    -fx-text-fill: #ff0073;
    -fx-font-weight: BOLD;
    -fx-font-size: 5px;
}

.main-action-button {
    -fx-text-fill: #8e9eac;
    -fx-font-size: 20px;
    -fx-font-weight: NORMAL;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}

#quit-button {
    -fx-text-fill: #9f9f9f;
    -fx-font-weight: NORMAL;
}