

.root {
    -fx-background-color: #d6d6d6;
    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;
}



.button {
    -fx-background-color: #563f46;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: normal;
    -fx-background-radius: 30;
    -fx-padding: 7;


    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
    -fx-border-radius: 30;
    -fx-border-color: linear-gradient(to bottom, rgb(241, 240, 240), transparent);
    -fx-effect: dropshadow(gaussian, rgba(248, 247, 247, 0.14), 10, 0.0, 0, 4);
    -fx-transition: background-color 0.3s ease, -fx-text-fill 0.3s ease;
}



.button:hover {
    -fx-background-color: rgba(248, 248, 248, 0.5);
    -fx-border-color: linear-gradient(to top, rgba(16, 64, 53, 0.07), rgba(246, 246, 246, 0.65));
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.14), 8, 0.0, 0, 4);
}

.button:pressed {
    -fx-background-color: #bddfdf;
}


.error-label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: BOLD;
    -fx-font-size: 12px;
}

.main-action-button {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: NORMAL;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}

#quit-button {
    -fx-text-fill: #e4f3f3;
    -fx-font-weight: NORMAL;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: linear-gradient(to bottom, rgb(218, 218, 218), rgb(174, 207, 207));
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.14), 8, 0.0, 0, 4);
}

#quit-button:hover{
    -fx-background-color: rgba(248, 248, 248, 0.3);
    -fx-border-color: linear-gradient(to top, rgba(175, 214, 206, 0.07), rgba(246, 246, 246, 0.65));
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.14), 8, 0.0, 0, 4);
}

.label{
    -fx-text-fill: #ffffff;
}